body {
    background-color: #2F2F2F;
}

h1 {
    text-align:center;
    margin-top:5%;
    font-size: 42px;
    color: #F0F8FF;
}

.symbol_choice {
    margin-left: auto;
    margin-right: auto;
}

.symbol_button{
    border:1px solid black;
    background-color: #87CEFA;
    height: 22mm;
    width: 22mm;
    padding: 2px 2px;
    font-size: 42px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.field {
    border: none;
    background-color: #F0F8FF;
    color: black;
    height: 28mm;
    width: 28mm;
    padding: 2px 2px;
    text-align: center;
    font-size: 64px;
    transition-duration: 0.4s;
}
.field:hover, .symbol_button:hover {
    background-color: #6495ED;
    color: black;
}

.playing_field {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-collapse: collapse;
    border-style: hidden;
}

.playing_field td{
    border: 2px solid;
}