<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Tic-Tac-Toe</title>
</head>
<body>
    <table>
         <tr>
             <td><button type="button">1</button></td>
             <td><button type="button">2</button></td>
             <td><button type="button">3</button></td>
         </tr>
         <tr>
             <td><button type="button">4</button></td>
             <td><button type="button">5</button></td>
             <td><button type="button">6</button></td>
         </tr>
         <tr>
             <td><button type="button">7</button></td>
             <td><button type="button">8</button></td>
             <td><button type="button">9</button></td>
         </tr>
    </table>
</body>
</html>